.greeting-container {
  display: flex;
  flex-direction: column;
  gap: var(--sp-fourtys);
  margin-top: auto;
  /* background-color: blueviolet; */
}

.greeting-time {
  font-size: 1050%;
  font-weight: var(--fwt-bold);
  /* background-color: purple; */
}

.greeting-msg {
  font-size: var(--f-fourtys);
  font-weight: var(--fwt-bold);
  /* background-color: blue; */
}

.focus-container {
  font-size: var(--f-thirtys2);
  /* background-color: brown; */
}

.focus-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--clr-primary);
  outline: none;
  color: var(--clr-primary);
  text-align: center;
}

.focus-container .checkbox-container {
  font-size: var(--f-tens4);
  font-weight: var(--fwt-bold);
}

.focus-container .checkbox {
  width: var(--sp-tens2);
  height: var(--sp-tens2);
}

.focus {
  margin-top: var(--sp-fractions2);
  font-size: var(--f-twentys3);
}

.quote-container {
  margin-top: auto;
  width: 70%;
  margin: 0 auto;
  /* background-color: peru; */
}

.quote-container span {
  font-size: var(--f-tens3);
}
